# **Pandas Intermediate**
by Farah

1. Sorting data
2. Filtering data
3. Merging data

In [ ]:
import pandas as pd
import numpy as np

## Load The Data

In [ ]:
# Load data

data = pd.read_csv("https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/data.csv")
print(data.shape)
data.head()

(59808, 14)

,Unnamed: 0,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0

## **1. Sorting Data**

Pandas dapat melakukan pengurutan suatu data berdasarkan perintah dan output yang diinginkan. Misalnya:
- mengurutkan data dari yang terkecil
- mengurutkan sesuai alfabet

#### Mengambil sampel data secara random

In [ ]:
# Mengambil 7 sampel data
data.sample(n=7)

,Unnamed: 0,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
26646,26646,57955,Sales & Marketing,region_11,Bachelor's,m,other,1,36,4.0,7,0,52.0,0
48263,48263,45664,Analytics,region_26,Bachelor's,m,other,1,29,4.0,3,0,85.0,0
43138,43138,6597,HR,region_22,Bachelor's,f,referred,1,28,3.0,3,0,54.0,0
28460,28460,42351,Procurement,region_15,Master's & above,f,sourcing,1,41,5.0,12,0,69.0,0
31122,31122,75386,Finance,region_22,Bachelor's,f,sourcing,1,27,NaN,1,0,58.0,0
19605,19605,54377,Sales & Marketing,region_21,Bachelor's,m,other,1,45,3.0,15,0,48.0,0
29451,29451,26223,Procurement,region_22,Bachelor's,m,other,1,31,5.0,3,0,70.0,0

#### Mengurutkan data berdasarkan kolom

In [ ]:
# Secara ascending
data.sort_values(by=["region"])

,Unnamed: 0,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
52750,52750,33426,Sales & Marketing,region_1,Master's & above,f,other,1,35,5.0,4,0,51.0,0
17666,17666,39852,Technology,region_1,Master's & above,m,other,1,34,5.0,3,0,83.0,0
16721,16721,13861,Technology,region_1,Bachelor's,f,sourcing,1,28,3.0,5,0,84.0,0
54232,54232,25169,Sales & Marketing,region_1,Master's & above,f,sourcing,1,30,2.0,6,0,NaN,0
24468,24468,18366,Sales & Marketing,region_1,Bachelor's,m,sourcing,2,30,1.0,4,0,51.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23582,23582,3292,Sales & Marketing,region_9,Bachelor's,m,sourcing,1,29,4.0,3,0,47.0,0
19229,19229,10003,Sales & Marketing,region_9,Master's & above,m,other,1,35,1.0,8,0,50.0,0
8005,8005,4283,Sales & Marketing,region_9,NaN,m,sourcing,1,26,1.0,2,0,48.0,0
52786,52786,57642,Sales & Marketing,region_9,Bachelor's,m,other,2,25,3.0,4,0,49.0,0
16192,16192,72152,Analytics,region_9,Master's & above,m,other,1,33,4.0,6,0,85.0,0

In [ ]:
# Secara descending
data.sort_values(by=["region"], ascending=False)

,Unnamed: 0,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
28950,28950,17254,Operations,region_9,Master's & above,m,sourcing,1,34,2.0,4,0,63.0,0
30969,30969,44220,Analytics,region_9,Master's & above,m,sourcing,1,31,1.0,4,0,84.0,0
3827,3827,21295,Sales & Marketing,region_9,NaN,m,sourcing,1,28,NaN,1,0,54.0,0
32237,32237,39093,Sales & Marketing,region_9,Bachelor's,m,other,1,30,4.0,2,0,50.0,0
12700,12700,10668,Analytics,region_9,Master's & above,m,sourcing,1,30,3.0,4,0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5610,5610,30919,Technology,region_1,Bachelor's,m,other,1,25,NaN,1,0,77.0,0
38549,38549,70068,Operations,region_1,Master's & above,f,sourcing,1,35,3.0,2,0,NaN,0
33569,33569,33209,Sales & Marketing,region_1,Bachelor's,m,sourcing,2,38,3.0,6,0,47.0,0
30683,30683,34384,Analytics,region_1,Master's & above,m,sourcing,1,37,5.0,7,0,88.0,0
45193,45193,32274,Technology,region_1,Master's & above,f,other,1,35,5.0,7,0,79.0,1

#### Mengurutkan data berdasarkan 2 kolom

In [ ]:
data.sort_values(by=["region", "department"])

,Unnamed: 0,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
215,215,58338,Analytics,region_1,Bachelor's,m,other,2,30,5.0,6,0,81.0,0
458,458,41928,Analytics,region_1,Master's & above,m,sourcing,1,35,5.0,4,0,84.0,0
1113,1113,7324,Analytics,region_1,Bachelor's,m,sourcing,2,27,5.0,4,1,78.0,0
1806,1806,9546,Analytics,region_1,Master's & above,m,sourcing,1,30,3.0,4,0,88.0,0
2338,2338,6102,Analytics,region_1,Bachelor's,m,other,1,32,5.0,3,0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51929,51929,19026,Technology,region_9,Bachelor's,m,other,1,29,1.0,5,0,79.0,0
54517,54517,46631,Technology,region_9,Bachelor's,m,sourcing,1,28,3.0,3,0,81.0,0
56112,42122,30756,Technology,region_9,Bachelor's,m,sourcing,1,28,3.0,2,0,81.0,0
56175,24032,48709,Technology,region_9,Bachelor's,f,other,1,28,3.0,4,0,81.0,0
59721,25957,68802,Technology,region_9,Bachelor's,m,other,1,31,4.0,7,0,78.0,0

## **2. Filtering Data**

Pandas dapat menyeleksi beberapa data berdasarkan perintah dan output yang diinginkan. Misalnya:
- seleksi kolom tertentu
- seleksi baris dan kolom
- seleksi data tertentu pada suatu kolom

#### Mengambil beberapa kolom dari data frame

In [ ]:
data[["department", "education"]]

              department         education
0      Sales & Marketing  Master's & above
1             Operations        Bachelor's
2      Sales & Marketing        Bachelor's
3      Sales & Marketing        Bachelor's
4             Technology        Bachelor's
...                  ...               ...
59803          Analytics        Bachelor's
59804         Operations  Master's & above
59805         Technology  Master's & above
59806            Finance        Bachelor's
59807                 HR               NaN

[59808 rows x 2 columns]

In [ ]:
data.filter(items=["department", "education"])

              department         education
0      Sales & Marketing  Master's & above
1             Operations        Bachelor's
2      Sales & Marketing        Bachelor's
3      Sales & Marketing        Bachelor's
4             Technology        Bachelor's
...                  ...               ...
59803          Analytics        Bachelor's
59804         Operations  Master's & above
59805         Technology  Master's & above
59806            Finance        Bachelor's
59807                 HR               NaN

[59808 rows x 2 columns]

### Filtering data menggunakan `loc`

Filter data menggunakan `loc`

Fungsi `loc` untuk menyeleksi kolom dan baris berdasarkan **nama** baris dan kolom

In [ ]:
data.loc[112:117, ["education", "age"]]

      education  age
112  Bachelor's   41
113  Bachelor's   40
114  Bachelor's   34
115  Bachelor's   31
116  Bachelor's   27
117  Bachelor's   30

### Filter data menggunakan `iloc`

Fungsi `iloc` untuk menyeleksi kolom dan baris berdasarkan **indeks** baris dan kolom

In [ ]:
data.iloc[-10:, 2:6]

        department     region         education gender
59798  Procurement  region_21        Bachelor's      m
59799   Operations   region_7        Bachelor's      m
59800      Finance   region_2   Below Secondary      m
59801   Technology   region_7        Bachelor's      f
59802           HR   region_2   Below Secondary      m
59803    Analytics  region_15        Bachelor's      m
59804   Operations  region_15  Master's & above      m
59805   Technology   region_4  Master's & above      f
59806      Finance  region_22        Bachelor's      f
59807           HR   region_2               NaN      m

## **3. Merging Data Frame**

- Merging data frame pada Pandas berfungsi untuk menggabungkan dataset berdasarkan kemiripan suatu data

- Ada 4 tipe merging data, yaitu:
  - Inner: Menampilkan baris persimpangan dari kedua dataset
  - Outer: Menampilkan semua baris dari kedua dataset
  - Left: Menampilkan semua baris dataset dari dataset sebelah kiri dan dataset yang ada disebelah kanan hanya yang cocok dengan dataset disebelah kiri
  - Right: Menampilkan semua baris dataset dari dataset sebelah kanan dan dataset yang ada disebelah kiri hanya yang cocok dengan dataset disebelah kiri


![image.png]()

In [ ]:
# Load data2

data2 =  pd.read_csv("https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/data_2.csv")
print(data2.shape)
data2.head()

(5000, 14)

,Unnamed: 0,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,33498,32835,Operations,region_10,Bachelor's,f,other,1,30,1.0,5,0,56.0,0
1,31110,72340,Operations,region_2,Below Secondary,m,sourcing,1,23,4.0,2,0,62.0,0
2,47412,52336,Sales & Marketing,region_31,Bachelor's,f,sourcing,1,34,5.0,4,0,54.0,0
3,9900,75679,Finance,region_26,Bachelor's,f,other,1,25,NaN,1,0,59.0,0
4,39275,72476,Operations,region_27,Bachelor's,m,sourcing,1,33,3.0,8,0,57.0,0

In [ ]:
# Merging data

final = data.merge(data2, how = 'outer', on = 'employee_id')
print(final.shape)
final.head()

(59858, 27)

,Unnamed: 0_x,employee_id,department_x,region_x,education_x,gender_x,recruitment_channel_x,no_of_trainings_x,age_x,previous_year_rating_x,...,education_y,gender_y,recruitment_channel_y,no_of_trainings_y,age_y,previous_year_rating_y,length_of_service_y,awards_won_y,avg_training_score_y,is_promoted_y
0,0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,...,Bachelor's,m,other,1.0,30.0,5.0,4.0,0.0,60.0,0.0
2,2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Cek dimensi hasil merge 2 dataframe, yaitu "data" dan "data2"

final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59858 entries, 0 to 59857
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0_x            59858 non-null  int64
 1   employee_id             59858 non-null  int64
 2   department_x            59858 non-null  object
 3   region_x                59858 non-null  object
 4   education_x             57242 non-null  object
 5   gender_x                59858 non-null  object
 6   recruitment_channel_x   59858 non-null  object
 7   no_of_trainings_x       59858 non-null  int64
 8   age_x                   59858 non-null  int64
 9   previous_year_rating_x  55370 non-null  float64
 10  length_of_service_x     59858 non-null  int64
 11  awards_won_x            59858 non-null  int64
 12  avg_training_score_x    57069 non-null  float64
 13  is_promoted_x           59858 non-null  int64
 14  Unnamed: 0_y            5836 non-null   float64
 15  department_y            5836 non-null   object
 16  region_y                5836 non-null   object
 17  education_y             5553 non-null   object
 18  gender_y                5836 non-null   object
 19  recruitment_channel_y   5836 non-null   object
 20  no_of_trainings_y       5836 non-null   float64
 21  age_y                   5836 non-null   float64
 22  previous_year_rating_y  5401 non-null   float64
 23  length_of_service_y     5836 non-null   float64
 24  awards_won_y            5836 non-null   float64
 25  avg_training_score_y    5568 non-null   float64
 26  is_promoted_y           5836 non-null   float64
dtypes: float64(10), int64(7), object(10)
memory usage: 12.8+ MB