# **Advanced Pandas Data Frame**
by Farah

1. Indexing data frame
2. Menghapus variabel atau kolom
3. Joining data frame
4. Concatenate dan append data frame
5. Fungsi Lambda
6. Pivot table data frame

In [ ]:
import pandas as pd
import numpy as np

## Load The Data

In [ ]:
# load data

data = pd.read_csv("https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## **1. Indexing Data Frame**

### Reset index

In [ ]:
sample = data.sample(n=35)
sample.head()

      age     sex     bmi  children smoker     region      charges
287    63  female  26.220         0     no  northwest  14256.19280
413    25    male  23.900         5     no  southwest   5080.09600
1129   19  female  18.600         0     no  southwest   1728.89700
1044   55    male  35.245         1     no  northeast  11394.06555
308    58    male  34.865         0     no  northeast  11944.59435

In [ ]:
reset = sample.reset_index(drop=True)
reset.head()

   age     sex     bmi  children smoker     region      charges
0   63  female  26.220         0     no  northwest  14256.19280
1   25    male  23.900         5     no  southwest   5080.09600
2   19  female  18.600         0     no  southwest   1728.89700
3   55    male  35.245         1     no  northeast  11394.06555
4   58    male  34.865         0     no  northeast  11944.59435

### Membuat index baru dari suatu kolom

In [ ]:
reset.set_index("age").head()

        sex     bmi  children smoker     region      charges
age
63   female  26.220         0     no  northwest  14256.19280
25     male  23.900         5     no  southwest   5080.09600
19   female  18.600         0     no  southwest   1728.89700
55     male  35.245         1     no  northeast  11394.06555
58     male  34.865         0     no  northeast  11944.59435

## **2. Menghapus Variabel atau Kolom**

Pandas mempunyai fungsi untuk menghapus kolom yang tidak diinginkan. Tujuan dari menghapus kolom ini diantaranya adalah:
- Untuk memilih kolom yang akan dianalisa lebih lanjut
- Untuk memilih kolom yang akan digunakan dalam pembuatan model ML

In [ ]:
data.drop(["children","sex"], axis=1).head()

   age     bmi smoker     region      charges
0   19  27.900    yes  southwest  16884.92400
1   18  33.770     no  southeast   1725.55230
2   28  33.000     no  southeast   4449.46200
3   33  22.705     no  northwest  21984.47061
4   32  28.880     no  northwest   3866.85520

## **3. Joining Data Frame**

Selain menggunakan `'merge`, Pandas juga bisa menggabungkan data frame menggunakan fungsi `join`

`join` digunakan untuk menggabungkan data berdasarkan index sedangkan `merge` digunakan untuk menggabungkan data menggunakan kolom

In [ ]:
data_1 = data.iloc[3:7,2:5]
data_1

      bmi  children smoker
3  22.705         0     no
4  28.880         0     no
5  25.740         0     no
6  33.440         1     no

In [ ]:
data_2 = data.loc[3:10,["bmi","region","charges"]]
data_2

       bmi     region      charges
3   22.705  northwest  21984.47061
4   28.880  northwest   3866.85520
5   25.740  southeast   3756.62160
6   33.440  southeast   8240.58960
7   27.740  northwest   7281.50560
8   29.830  northeast   6406.41070
9   25.840  northwest  28923.13692
10  26.220  northeast   2721.32080

In [ ]:
data_1.join(data_2, lsuffix='_first', rsuffix='_second')

   bmi_first  children smoker  bmi_second     region      charges
3     22.705         0     no      22.705  northwest  21984.47061
4     28.880         0     no      28.880  northwest   3866.85520
5     25.740         0     no      25.740  southeast   3756.62160
6     33.440         1     no      33.440  southeast   8240.58960

In [ ]:
data_2.join(data_1, lsuffix='_first', rsuffix='_second')

    bmi_first     region      charges  bmi_second  children smoker
3      22.705  northwest  21984.47061      22.705       0.0     no
4      28.880  northwest   3866.85520      28.880       0.0     no
5      25.740  southeast   3756.62160      25.740       0.0     no
6      33.440  southeast   8240.58960      33.440       1.0     no
7      27.740  northwest   7281.50560         NaN       NaN    NaN
8      29.830  northeast   6406.41070         NaN       NaN    NaN
9      25.840  northwest  28923.13692         NaN       NaN    NaN
10     26.220  northeast   2721.32080         NaN       NaN    NaN

## **4. Concatenate & Append Dataframe**

### Concatenate dataframe

Menggabungkan data frame berdasarkan axis-nya, baik axis x (horizontal) atau axis y (vertikal)

In [ ]:
# Horizontal

pd.concat([data_1, data_2], axis=1)

       bmi  children smoker     bmi     region      charges
3   22.705       0.0     no  22.705  northwest  21984.47061
4   28.880       0.0     no  28.880  northwest   3866.85520
5   25.740       0.0     no  25.740  southeast   3756.62160
6   33.440       1.0     no  33.440  southeast   8240.58960
7      NaN       NaN    NaN  27.740  northwest   7281.50560
8      NaN       NaN    NaN  29.830  northeast   6406.41070
9      NaN       NaN    NaN  25.840  northwest  28923.13692
10     NaN       NaN    NaN  26.220  northeast   2721.32080

In [ ]:
# Vertikal

pd.concat([data_1, data_2], axis=0)

       bmi  children smoker     region      charges
3   22.705       0.0     no        NaN          NaN
4   28.880       0.0     no        NaN          NaN
5   25.740       0.0     no        NaN          NaN
6   33.440       1.0     no        NaN          NaN
3   22.705       NaN    NaN  northwest  21984.47061
4   28.880       NaN    NaN  northwest   3866.85520
5   25.740       NaN    NaN  southeast   3756.62160
6   33.440       NaN    NaN  southeast   8240.58960
7   27.740       NaN    NaN  northwest   7281.50560
8   29.830       NaN    NaN  northeast   6406.41070
9   25.840       NaN    NaN  northwest  28923.13692
10  26.220       NaN    NaN  northeast   2721.32080

### Append

Append dapat dilakukan jika terdapat nama kolom yang sama pada kedua data set yang ingin digabungkan

In [ ]:
data_1.append(data_2)

       bmi  children smoker     region      charges
3   22.705       0.0     no        NaN          NaN
4   28.880       0.0     no        NaN          NaN
5   25.740       0.0     no        NaN          NaN
6   33.440       1.0     no        NaN          NaN
3   22.705       NaN    NaN  northwest  21984.47061
4   28.880       NaN    NaN  northwest   3866.85520
5   25.740       NaN    NaN  southeast   3756.62160
6   33.440       NaN    NaN  southeast   8240.58960
7   27.740       NaN    NaN  northwest   7281.50560
8   29.830       NaN    NaN  northeast   6406.41070
9   25.840       NaN    NaN  northwest  28923.13692
10  26.220       NaN    NaN  northeast   2721.32080

## **5. Fungsi Lambda**

Fungsi Lambda digunakan untuk mempersingkat syntax python

In [ ]:
# Mengelompokkan data BMI menggunakan Fungsi Lambda

data['bmi_category'] = data['bmi'].apply(lambda x: 'High BMI' if x >= 50 else ('Medium BMI' if x >=30 and x<50 else "Low BMI"))
data.sample(n=10)

,age,sex,bmi,children,smoker,region,charges,bmi_category
1029,37,female,17.290,2,no,northeast,6877.98010,Low BMI
365,49,female,30.780,1,no,northeast,9778.34720,Medium BMI
240,23,female,36.670,2,yes,northeast,38511.62830,Medium BMI
780,30,male,24.400,3,yes,southwest,18259.21600,Low BMI
574,57,female,34.295,2,no,northeast,13224.05705,Medium BMI
581,19,male,30.590,0,no,northwest,1639.56310,Medium BMI
1237,58,female,28.215,0,no,northwest,12224.35085,Low BMI
377,24,male,40.150,0,yes,southeast,38126.24650,Medium BMI
1136,44,female,25.000,1,no,southwest,7623.51800,Low BMI
555,28,male,23.800,2,no,southwest,3847.67400,Low BMI

In [ ]:
# Membuat values di kolom sex, region dan bmi_category menjadi huruf kapital semua

data.loc[:,["sex", "region", "bmi_category"]].apply(lambda x: x.str.upper(),axis=1)
data.head()

   age     sex     bmi  children smoker     region      charges bmi_category
0   19  FEMALE  27.900         0    yes  SOUTHWEST  16884.92400      LOW BMI
1   18    MALE  33.770         1     no  SOUTHEAST   1725.55230   MEDIUM BMI
2   28    MALE  33.000         3     no  SOUTHEAST   4449.46200   MEDIUM BMI
3   33    MALE  22.705         0     no  NORTHWEST  21984.47061      LOW BMI
4   32    MALE  28.880         0     no  NORTHWEST   3866.85520      LOW BMI

## **6. Pivot Table**

Pivot table memberikan informasi berupa agregasi suatu data dengan melampirkan isi data pada nama kolom tertentu

In [ ]:
pd.pivot_table(data, values="bmi", index=["sex","smoker"], columns="region", 
               aggfunc=np.max)

region         NORTHEAST  NORTHWEST  SOUTHEAST  SOUTHWEST
sex    smoker
FEMALE no         48.070     42.940      46.75       46.7
       yes        42.750     38.950      47.41       47.6
MALE   no         42.655     41.325      53.13       45.9
       yes        41.895     40.565      52.58       39.9

In [ ]:
pd.pivot_table(data, values=["bmi"], index=['bmi_category'], aggfunc={'bmi':[min, max, np.mean]})

                 bmi
                 max       mean    min
bmi_category
HIGH BMI      53.130  52.030000  50.38
LOW BMI       29.925  25.506426  15.96
MEDIUM BMI    49.060  35.194574  30.00