# **Advanced Statistic**
by Farah

1. Sampling
2. Uji Hipotesis

## Import Libraries & Load The Data

In [1]:
!pip install --upgrade statsmodels

Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (0.13.2)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (21.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.21.6)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.3.5)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels) (3.0.8)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.2->statsmodels) (1.15.0)

In [2]:
!pip install --upgrade scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.21.6)

In [3]:
import  pandas as pd
import numpy as np
from statsmodels.stats.weightstats import ztest
from scipy.stats import stats, chi2_contingency
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [4]:
data = pd.read_csv("https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/BankChurners.csv")
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

## **1. Sampling**

- Sampling data mengacu pada metode statistik untuk memilih pengamatan dengan tujuan memperkirakan parameter populasi.
- Pengambilan sampel statistik adalah bidang studi yang luas, tapi dalam pembelajaran “applied machine learning”, terdapat tiga jenis teknik sampling:
  1. Simple Random Sampling: Sampel yang diambil dengan probabilitas seragam
dari populasi
  2. Systematic Sampling: Sampel yang diambil menggunakan pola yang 
ditentukan sebelumnya dengan bantuan interval
  3. Stratiﬁed Sampling:  Sampel yang diambil dengan kategori yang
ditentukan

### Simple Random Sampling

In [6]:
data.sample(n=35)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
8286,772837083,Existing Customer,41,M,3,Graduate,Married,$120K +,Blue,32,...,27169.0,0,27169.0,0.781,3906,87,0.977,0.000,0.000113,0.999890
3670,710402508,Existing Customer,52,M,0,Unknown,Married,$80K - $120K,Blue,36,...,4675.0,0,4675.0,0.863,3487,69,0.683,0.000,0.000487,0.999510
1180,789611283,Existing Customer,44,M,4,Graduate,Married,$40K - $60K,Blue,38,...,5452.0,2091,3361.0,0.813,1347,30,0.500,0.384,0.000201,0.999800
4482,771354633,Existing Customer,58,M,1,College,Single,$80K - $120K,Blue,45,...,1854.0,1480,374.0,0.853,3292,73,0.921,0.798,0.000471,0.999530
3372,713005908,Existing Customer,47,F,2,Graduate,Married,$40K - $60K,Blue,36,...,2255.0,1733,522.0,0.903,4772,83,0.729,0.769,0.000191,0.999810
4977,788840283,Existing Customer,42,F,2,Post-Graduate,Divorced,Less than $40K,Blue,26,...,2120.0,1527,593.0,0.744,4741,86,0.720,0.720,0.000225,0.999770
4329,721531683,Existing Customer,44,F,4,Graduate,Single,Unknown,Blue,36,...,8482.0,0,8482.0,0.563,4076,81,0.688,0.000,0.000097,0.999900
1705,779612808,Existing Customer,61,M,1,Graduate,Married,$40K - $60K,Blue,50,...,2531.0,2360,171.0,0.955,1263,35,0.591,0.932,0.000307,0.999690
8516,822127008,Existing Customer,50,F,1,Post-Graduate,Married,Unknown,Blue,46,...,19349.0,615,18734.0,0.708,4351,79,0.717,0.032,0.000076,0.999920
6505,789487308,Existing Customer,48,M,2,Doctorate,Single,$60K - $80K,Blue,39,...,10033.0,0,10033.0,0.644,4106,78,0.902,0.000,0.000165,0.999840
4855,772054458,Existing Customer,43,M,3,Unknown,Unknown,$60K - $80K,Blue,32,...,2476.0,1944,532.0,0.881,4025,65,0.585,0.785,0.000106,0.999890
4904,716308683,Existing Customer,47,F,3,High School,Married,Less than $40K,Blue,36,...,6524.0,1993,4531.0,0.815,4267,66,0.886,0.305,0.000193,0.999810
9011,797898858,Existing Customer,40,F,2,Uneducated,Single,Less than $40K,Blue,34,...,4748.0,2085,2663.0,0.615,7288,88,0.600,0.439,0.000071,0.999930
5715,765847383,Existing Customer,50,M,1,Graduate,Married,$120K +,Blue,43,...,20958.0,0,20958.0,0.769,4425,78,0.696,0.000,0.000317,0.999680
1424,712505658,Existing Customer,51,F,4,Unknown,Single,Less than $40K,Blue,41,...,5530.0,1999,3531.0,1.018,1766,45,0.667,0.361,0.000107,0.999890
4573,754564308,Existing Customer,46,F,3,Graduate,Married,$40K - $60K,Blue,39,...,2644.0,2126,518.0,0.748,3601,66,0.650,0.804,0.000187,0.999810
9938,720539583,Existing Customer,46,M,4,Unknown,Single,$60K - $80K,Blue,31,...,21226.0,1202,20024.0,0.755,14103,96,0.655,0.057,0.000182,0.999820
9595,711720408,Existing Customer,44,F,0,Unknown,Married,Less than $40K,Blue,34,...,9070.0,1273,7797.0,0.637,15211,129,0.743,0.140,0.000285,0.999710
1018,720352533,Existing Customer,43,M,3,High School,Unknown,$60K - $80K,Blue,36,...,20811.0,1425,19386.0,0.382,1483,38,0.520,0.068,0.000305,0.999690
2591,712965183,Existing Customer,63,F,2,Graduate,Married,Less than $40K,Blue,52,...,2689.0,2101,588.0,0.416,1188,35,0.750,0.781,0.000191,0.999810
766,787456608,Existing Customer,29,M,2,High School,Married,$80K - $120K,Blue,15,...,4158.0,1635,2523.0,0.778,1678,37,0.542,0.393,0.000111,0.999890
202,748326258,Existing Customer,48,M,3,College,Married,$80K - $120K,Blue,41,...,12302.0,1632,10670.0,1.509,1483,41,0.519,0.133,0.000341,0.999660
2771,801989733,Existing Customer,55,M,2,Uneducated,Single,$60K - $80K,Blue,48,...,7667.0,1193,6474.0,1.101,3915,76,0.617,0.156,0.000185,0.999820
4352,720432858,Existing Customer,40,F,4,Post-Graduate,Married,Less than $40K,Blue,36,...,2316.0,1510,806.0,0.554,3471,63,0.750,0.652,0.000114,0.999890
9117,711339258,Existing Customer,49,F,3,Graduate,Single,$40K - $60K,Silver,36,...,20176.0,2219,17957.0,0.693,8255,86,0.911,0.110,0.000102,0.999900
5349,779447358,Existing Customer,50,F,2,Graduate,Married,Less than $40K,Blue,32,...,2884.0,2104,780.0,0.857,4486,93,0.860,0.730,0.000516,0.999480
7260,710526633,Existing Customer,47,M,2,Unknown,Single,$60K - $80K,Blue,34,...,2048.0,1599,449.0,0.613,4855,88,0.872,0.781,0.000198,0.999800
4567,810875958,Attrited Customer,51,F,3,Graduate,Married,Less than $40K,Blue,46,...,2016.0,395,1621.0,0.711,2473,44,0.571,0.196,0.997370,0.002628
9465,715694433,Existing Customer,51,M,1,Unknown,Single,$60K - $80K,Blue,22,...,4248.0,1177,3071.0,0.821,13958,116,0.785,0.277,0.000312,0.999690
5486,794866983,Existing Customer,51,F,1,Doctorate,Married,Unknown,Blue,45,...,7336.0,1031,6305.0,0.658,3812,67,0.675,0.141,0.000093,0.999910
6242,717181833,Existing Customer,39,F,1,Graduate,Single,Less than $40K,Silver,30,...,10190.0,891,9299.0,0.678,3768,59,0.967,0.087,0.000097,0.999900
6568,714557583,Existing Customer,58,F,2,College,Single,Less than $40K,Blue,36,...,2212.0,1902,310.0,0.691,4976,79,0.975,0.860,0.000078,0.999920
3352,756624183,Existing Customer,51,F,3,Graduate,Married,Less than $40K,Blue,44,...,7742.0,2024,5718.0,0.929,3507,69,0.568,0.261,0.000096,0.999900
5710,720040158,Existing Customer,47,M,3,Uneducated,Single,$60K - $80K,Blue,36,...,17656.0,0,17656.0,0.727,4633,71,0.868,0.000,0.000192,0.999810
1741,811915383,Existing Customer,36,M,3,Uneducated,Married,$40K - $60K,Blue,31,...,3152.0,1986,1166.0,1.328,2530,50,0.724,0.630,0.000121,0.999880

### Systematic Sampling


Systematic sampling dapat menggunakan syntax sebagai berikut:
```
numpy.arange(start, stop, step, dtype)
```
- start = angka pertama pada array
- stop = angka terakhir pada array dan tidak termasuk dalam array
- step = angka yang menentukan jarak (selisih) antara masing-masing dua nilai berurutan dalam array dan defaultnya adalah 1
- dtype = tipe elemen array output dan defaultnya adalah None.

In [7]:
systematic = np.arange(0, len(data), 7)
data.iloc[systematic]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
7,818906208,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,...,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048,0.000086,0.999910
14,712396908,Existing Customer,57,F,2,Graduate,Married,Less than $40K,Blue,48,...,2436.0,680,1756.0,1.190,1570,29,0.611,0.279,0.000114,0.999890
21,708508758,Attrited Customer,62,F,0,Graduate,Married,Less than $40K,Blue,49,...,1438.3,0,1438.3,1.047,692,16,0.600,0.000,0.996160,0.003836
28,718813833,Existing Customer,44,F,3,Uneducated,Single,Unknown,Blue,34,...,10100.0,0,10100.0,0.525,1052,18,1.571,0.000,0.000121,0.999880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10094,716123283,Existing Customer,59,M,1,Unknown,Single,$60K - $80K,Blue,48,...,7288.0,0,7288.0,0.640,14873,120,0.714,0.000,0.000057,0.999940
10101,718372458,Existing Customer,42,M,2,Graduate,Unknown,$40K - $60K,Blue,30,...,3735.0,1723,2012.0,0.595,14501,92,0.840,0.461,0.000565,0.999440
10108,714471183,Attrited Customer,47,M,4,Graduate,Divorced,$80K - $120K,Blue,39,...,17504.0,476,17028.0,0.892,10468,66,0.737,0.027,0.998160,0.001844
10115,712210458,Existing Customer,38,M,1,Uneducated,Single,$40K - $60K,Blue,36,...,5639.0,1558,4081.0,0.614,16628,109,0.946,0.276,0.000174,0.999830
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810

### Stratified Sampling

In [8]:
# Misal, hanya ingin mengambil data dari responden yang sudah menikah

married = data[data["Marital_Status"] == "Married"]
married

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
5,713061558,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.999940
6,810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.999880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10112,708564858,Attrited Customer,33,M,2,College,Married,$120K +,Gold,20,...,34516.0,0,34516.0,1.004,9338,73,0.622,0.000,0.994380,0.005620
10114,720841533,Existing Customer,29,M,0,Graduate,Married,Less than $40K,Blue,15,...,4700.0,0,4700.0,0.617,14723,96,0.655,0.000,0.000235,0.999770
10117,712503408,Existing Customer,57,M,2,Graduate,Married,$80K - $120K,Blue,40,...,17925.0,1909,16016.0,0.712,17498,111,0.820,0.106,0.000516,0.999480
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

## **2. Uji Hipotesis**

- Uji hipotesis digunakan untuk membuktikan dugaan/prediksi/hipotesa berdasarkan analisa data.
Hipotesis dibagi menjadi 2, yaitu:
  - Hipotesis null (H0)
    - It is regarding the assumption that there is no anomaly pattern or believing according to the assumption made.
    - the statements which the scientists want to prove wrong
  - Hipotesis alternatif (Ha):
    - Contrary to the null hypothesis, it shows that observation is the result of real effect.
    - statement which would be the opposite of these null hypotheses

|H0|Ha|
|---|---|
|equal (=)|not equal (≠)|
|greater than or equal to (≥) |	less than (<)|
|less than or equal to (≤)	| more than (>)|

- Terdapat beberapa uji hipotesis yang dapat dipakai, yaitu:
    - Z-test one sample
    - Z-test two sample
    - T-test one sample
    - T-test two sample
    - Chi-square

### Z-Test
Z-test digunakan pada sampel yang ukurannya lebih dari 30

#### One Sample

**Kasus**

Rata-rata kredit limit keseluruhan kostumer sebesar 8632. Apakah kredit limit kostumer perempuan lebih tinggi dibandingkan dengan rata-rata angka kredit limit seluruh kostumer? Sampel yang diambil adalah 35 data

**Hipotesis**
- H0 = Kredit limit perempuan ***lebih besar*** daripada 8632
- Ha = Kredit limit perempuan ***kurang*** dari 8632

In [9]:
# Menghitung rata-rata keseluruhan Credit Limit
                                                                                                                      
mean_credit_limit = data["Credit_Limit"].mean()

print("Rata-rata keseluruhan Credit Limit adalah",round(mean_credit_limit))

Rata-rata keseluruhan Credit Limit adalah 8632

In [10]:
# Mengambil sampel kostumer perempuan sebesar 35 orang

female = data[data['Gender'] == 'F']
female
sampel_one = female['Credit_Limit'].sample(n=35)

In [11]:
#Z-test

ztest, pvalue = ztest(x1=sampel_one, x2=None, value=mean_credit_limit, alternative='larger')

print ('ztest: {} and pvalue: {}'.format(ztest, pvalue))

ztest: -0.9801622414164695 and pvalue: 0.8364969802103204

In [12]:
#Pengambilan Kesimpulan

CI = 0.95
alpha = 1-CI

if pvalue < alpha:
  print ("H0 ditolak")
  print ("pvalue {} < alpha {}".format(round(pvalue,7), round(alpha,2)))

else:
  print ("H0 diterima")
  print("pvalue {} > alpha {}".format(round(pvalue,7), round(alpha,2)))

H0 diterima
pvalue 0.836497 > alpha 0.05

Hasil uji hipotesis menggunakan Z-test didapatkan pvalue sebesar 0.999 dimana lebih besar daripada nilai alpha sehingga H0 diterima. Hal ini menunjukkan bahwa kredit limit perempuan lebih besar daripada rata-rata angka kredit keseluruhan kostumer

#### Two sample

**Kasus**
Dalam dataset the Bank Churn, Credit limit merupakan salah satu variable untuk menentukan apakah pelanggan akan churn/attrition (berhenti) atau masih tetap menggunakan produk. Lakukan hipotesis apakah rata-rata credit limit laki-laki dan perempuan sama?
- Ambil 50 samples
- Tingkat kepercayaan (conﬁdence interval) 95%
- Jenis tes mana yang anda pilih? z-test atau t-test, mengapa?
- Apakah anda menggunakan one sample atau two sample?

Hipotesis yang akan diuji adalah:
- H0 : rata-rata credit limit laki-laki sama dengan perempuan
- Ha : rata-rata credit limit laki-laki tidak sama dengan perempuan

Uji hipotesis yang digunakan adalah Z-test karena:
- Sample yang digunakan >30

Uji hipotesis ini menggunakan two sample karena membandingkan antara rata-rata credit limit laki-laki dan perempuan, yang artinya disini menggunakan dua sampel yang berbeda

In [21]:
# Mengkategorikan sample berdasarkan jenis kelamin
laki_laki = data[data['Gender'] == 'M']
perempuan = data[data['Gender'] == 'F']

# Mengambil sampel sebanyak 50 berdasarkan masing-masing jenis kelamin
sampel_two_lk = laki_laki['Credit_Limit'].sample(n=50)
sampel_two_pr = perempuan['Credit_Limit'].sample(n=50)

#Z-test

ztest, pvalue = ztest(x1=sampel_two_lk, x2=sampel_two_pr, value=0, alternative='two-sided')

print ('ztest: {} and pvalue: {}'.format(ztest, pvalue))

#Pengambilan Kesimpulan

CI = 0.95
alpha = 1-CI

if pvalue < alpha:
  print ("H0 ditolak")
  print ("pvalue {} < alpha {}".format(round(pvalue,7), round(alpha,2)))

else:
  print ("H0 diterima")
  print("pvalue {} > alpha {}".format(round(pvalue,7), round(alpha,2)))

TypeError: ignored

Hasil uji hipotesis menggunakan Z-test didapatkan pvalue sebesar 0.0001 dimana lebih kecil daripada nilai alpha sehingga H0 ditolak. Hal ini menunjukkan bahwa rata-rata credit limit laki-laki dan perempuan tidak sama

### T-Test

T-test digunakan pada sampel yang ukurannya kurang dari atau sama dengan 30

In [14]:
# read dataset
data_1 = pd.read_csv("https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/Transformer.csv")
data_1.head()

,Unnamed: 0,Hydrogen,Oxigen,Nitrogen,Methane,CO,CO2,Ethylene,Ethane,Acethylene,DBDS,Power factor,Interfacial V,Dielectric rigidity,Water content,Health index,Life expectation,event
0,0,2845,5860,27842,7406,32,1344,16684,5467,7,19.0,1.00,45,55,0,95.2,19.0,Not Working
1,1,12886,61,25041,877,83,864,4,305,0,45.0,1.00,45,55,0,85.5,19.0,Not Working
2,2,2820,16400,56300,144,257,1080,206,11,2190,1.0,1.00,39,52,11,85.3,19.0,Not Working
3,3,1099,70,37520,545,184,1402,6,230,0,87.0,4.58,33,49,5,85.3,6.0,Not Working
4,4,3210,3570,47900,160,360,2130,4,43,4,1.0,0.77,44,55,3,85.2,6.0,Not Working

#### One Sample

**Kasus**
Apakah rata-rata oksigen yang diproduksi oleh transformer pada saat bekerja kurang dari 8357? Besar sampel yang digunakan sebanyak 20 secara acak.

**Hipotesis**
- H0 = Oksigen yang dihasilkan transformer pada saat bekerja ***lebih besar*** daripada 8357
- Ha = Oksigen yang dihasilkan transformer pada saat bekerja ***kurang*** dari 8357

In [15]:
# Standar deviasi dan rata-rata oksigen keseluruhan data
std_oksigen = data_1['Oxigen'].std()
mean_oksigen = data_1['Oxigen'].mean()

print("Standar deviasi oksigen keseluruhan adalah:",round(std_oksigen))
print("Rata-rata oksigen keseluruhan adalah:",round(mean_oksigen))

Standar deviasi oksigen keseluruhan adalah: 14164
Rata-rata oksigen keseluruhan adalah: 8357

In [16]:
# Menentukan sampel
working = data_1[data_1['event'] == 'Working']
working.head()
sample_t_1 = working['Oxigen'].sample(n=20)

# ttest hypothesis
ttest_Score, pvalue = stats.ttest_1samp(sample_t_1, mean_oksigen, alternative='less') #, alternative="greater"

#Pengambilan Kesimpulan
CI = 0.95
alpha = 1-CI

if pvalue < alpha:
  print ("H0 ditolak")
  print ("pvalue {} < alpha {}".format(round(pvalue,7), round(alpha,2)))

else:
  print ("H0 diterima")
  print("pvalue {} > alpha {}".format(round(pvalue,7), round(alpha,2)))

H0 diterima
pvalue 0.2859039 > alpha 0.05

Hasil uji hipotesis menggunakan T-test didapatkan pvalue sebesar 0.3182 dimana lebih besar daripada nilai alpha sehingga H0 diterima. Hal ini menunjukkan bahwa Oksigen yang dihasilkan transformer pada saat bekerja lebih besar daripada 8357

#### Two Sample

**Kasus**

Analisa apakah oksigen yang dihasilkan transformer selama bekerja dan tidak bekerja sama besar? Confidence level sebesar 95%

**Hipotesis**
- H0 : oksigen yang dihasilkan pada saat transformer bekerja ***sama dengan*** pada saat tidak bekerja
- Ha : oksigen yang dihasilkan pada saat transformer bekerja *** tidak sama dengan*** pada saat tidak bekerja

In [17]:
# Mengkategorikan sample berdasarkan transformer bekerja
working = data_1[data_1['event']=="Working"]
mean_working_oksigen = working['Oxigen'].mean()
sampel_working_oksigen = working['Oxigen'].sample(15)

# Mengkategorikan sample berdasarkan transformer tidak bekerja
not_working = data_1[data_1['event']=="Not Working"]
mean_not_working_oksigen = not_working['Oxigen'].mean()
sampel_not_working_oksigen = not_working['Oxigen'].sample(15)

# T-Test
ttest_Score, pvalue = stats.ttest_ind(a=sampel_working_oksigen, b=sampel_not_working_oksigen, equal_var=False) #, alternative='two-sided'


#Pengambilan Kesimpulan

CI = 0.95
alpha = 1-CI

if pvalue < alpha:
  print ("H0 ditolak")
  print ("pvalue {} < alpha {}".format(round(pvalue,7), round(alpha,2)))

else:
  print ("H0 diterima")
  print("pvalue {} > alpha {}".format(round(pvalue,7), round(alpha,2)))

H0 diterima
pvalue 0.6833614 > alpha 0.05

Hasil uji hipotesis menggunakan T-test didapatkan pvalue sebesar 0.1880 dimana lebih besar daripada nilai alpha sehingga H0 diterima. Hal ini menunjukkan bahwa oksigen yang dihasilkan pada saat transformer bekerja sama dengan pada saat tidak bekerja

### Chi-square

Chi square bertujuan untuk melakukan prediksi secara statistik (tes hipotesa) dengan melihat ada atau tidaknya hubungan diantara beberapa variabel

**Kasus**
Pada transformer listrik, terdapat beberapa senyawa yang dihasilkan seperti CO, CO2, Hydrogen dan Metana. Pertanyaannya adalah, apakah kegiatan transformer listrik memiliki hubungan dengan beberapa senyawa tersebut?

**Hipotesis**
- H0 = variabel tersebut berhubungan satu sama lainnya
- Ha = Variabel tersebut tidak berhubungan satu sama lainnya

In [18]:
chi_s = data_1[['event','CO','CO2','Methane','Hydrogen']]
chi_s = chi_s.set_index('event')
chi_s.head()

              CO   CO2  Methane  Hydrogen
event
Not Working   32  1344     7406      2845
Not Working   83   864      877     12886
Not Working  257  1080      144      2820
Not Working  184  1402      545      1099
Not Working  360  2130      160      3210

In [19]:
from scipy.stats import chi2_contingency
stat, pvalue, dof, expected = chi2_contingency(chi_s)

#Pengambilan Kesimpulan

CI = 0.95
alpha = 1-CI

if pvalue < alpha:
  print ("H0 ditolak")
  print ("pvalue {} < alpha {}".format(round(pvalue,7), round(alpha,2)))

else:
  print ("H0 diterima")
  print("pvalue {} > alpha {}".format(round(pvalue,7), round(alpha,2)))

H0 ditolak
pvalue 0.0 < alpha 0.05

Hasil uji hipotesis menggunakan chi-square didapatkan pvalue sebesar 00 dimana lebih kecil daripada nilai alpha sehingga H0 ditolak. Hal ini menunjukkan bahwa variabel event, CO, CO2, O2, metana, dan hidrogen tidak mempunyai hubungan satu sama lain.